- (biomorphs).each_with_index do |biomorph, index| 
  .biomorph_container
    %div
      %embed{:src=>"javascript/biomorph_#{index}.svg", :width=>"300px", :height=>"300px", :type=>"image/svg+xml", :pluginspage=>"http://www.adobe.com/svg/viewer/install/"}
    
    %div{:class => "biomorph_selector_#{index}"}
      %form{:action=>"/select_biomorph", :method => "post"}
        %input.selector{:type => "checkbox", :name => 'genes', :value => biomorph.genes }

:javascript
  $(function(){
    $(".selector").change(function(){
      $(this).parent().submit();
    });
  })

  var timeout = setTimeout(function(){
    var ran =Math.floor(Math.random()*8);
    $(".biomorph_selector_"+ran).find('input').attr('checked', 'checked');
    $(".biomorph_selector_"+ran).find('form').submit();
  }, 1000);

  $('body').click(function(){
    clearTimeout(timeout);
  });
    
